![30DaysOfPython](./images/30DaysOfPython_banner3@2x.png)

ðŸ§³ [Part 1: Day 1 - 3](https://github.com/Asabeneh/30-Days-Of-Python)  
ðŸ§³ [Part 2: Day 4 - 6](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme4-6.md)  
ðŸ§³ [Part 3: Day 7 - 9](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme7-9.md)  
ðŸ§³ [Part 4: Day 10 - 12](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme10-12.md)  
ðŸ§³ [Part 5: Day 13 - 15](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme13-15.md)  
ðŸ§³ [Part 6: Day 16 - 18](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme16-18.md)  
ðŸ§³ [Part 7: Day 19 - 21](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme19-21.md)  
ðŸ§³ [Part 8: Day 22 - 24](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme22-24.md)  
ðŸ§³ [Part 9: Day 25 - 27](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme25-27.md)  
ðŸ§³ [Part 10: Day 28 - 30](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme28-30.md)  

- [ðŸ“˜ Day 25](#%f0%9f%93%98-day-25)
  - [Pandas](#pandas)
  - [Importing pandas](#importing-pandas)
    - [Creating Pandas Series with default index](#creating-pandas-series-with-default-index)
    - [Creating Pandas Series with custom index](#creating-pandas-series-with-custom-index)
    - [Creating Pandas Series from a dictionary](#creating-pandas-series-from-a-dictionary)
    - [Creating a constant pandas series](#creating-a-constant-pandas-series)
    - [Creating a pandas series using linspace](#creating-a-pandas-series-using-linspace)
  - [DataFrames](#dataframes)
    - [Creating DataFrames from list of lists](#creating-dataframes-from-list-of-lists)
    - [Creating DataFrame using Dictionary](#creating-dataframe-using-dictionary)
    - [Creating DataFrams from list of dictionaries](#creating-dataframs-from-list-of-dictionaries)
  - [Reading CSV File using pandas](#reading-csv-file-using-pandas)
    - [Data Exploration](#data-exploration)
  - [Modifying DataFrame](#modifying-dataframe)
    - [Create a DataFrame](#create-a-dataframe)
    - [Adding new column](#adding-new-column)
    - [Modifying column values](#modifying-column-values)
    - [Formating DataFrame column](#formating-dataframe-column)
  - [Checking data types of Column values](#checking-data-types-of-column-values)
    - [Boolean Indexing](#boolean-indexing)
  - [Exercises: Day 25](#exercises-day-25)
- [ðŸ“˜ Day 26](#%f0%9f%93%98-day-26)
  - [Python for Web](#python-for-web)
    - [Flask](#flask)
      - [Folder structure](#folder-structure)
    - [Setting up your project directory](#setting-up-your-project-directory)
    - [Creating routes](#creating-routes)
    - [Creating templates](#creating-templates)
    - [Python Script](#python-script)
    - [Navigation](#navigation)
    - [Creating a layout](#creating-a-layout)
    - [Deployment](#deployment)
      - [Creating Heroku account](#creating-heroku-account)
      - [Login to Heroku](#login-to-heroku)
      - [Create requirements and Procfile](#create-requirements-and-procfile)
      - [Pushing project to heroku](#pushing-project-to-heroku)
  - [Exercises: Day 26](#exercises-day-26)
- [ðŸ“˜ Day 27](#%f0%9f%93%98-day-27)
- [Python with MongoDB](#python-with-mongodb)
  - [MongoDB](#mongodb)
    - [SQL versus NoSQL](#sql-versus-nosql)
    - [Getting Connection String(MongoDB URI)](#getting-connection-stringmongodb-uri)
    - [Connecting Flask application to MongoDB Cluster](#connecting-flask-application-to-mongodb-cluster)
    - [Creating a database and collection](#creating-a-database-and-collection)
    - [Inserting many documents to collection](#inserting-many-documents-to-collection)
    - [MongoDB Find](#mongodb-find)
    - [Find with Query](#find-with-query)
    - [Find query with modifier](#find-query-with-modifier)
    - [Limiting documents](#limiting-documents)
    - [Find with sort](#find-with-sort)
    - [Update with query](#update-with-query)
    - [Delete Document](#delete-document)
    - [Drop a collection](#drop-a-collection)
  - [ðŸ’» Exercises: Day 27](#%f0%9f%92%bb-exercises-day-27)
GIVE FEEDBACK: http://thirtydayofpython-api.herokuapp.com/feedback
# ðŸ“˜ Day 25
## Pandas

Pandas is an open source,high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
Pandas adds data structures and tools designed to work with table-like data which is Series and Data Frames
Pandas provides tools for data manipulation: reshaping, merging, sorting, slicing, aggregation and imputation.

In [ ]:
pip install conda
conda install pandas

Pandas data structure is based on *Series* and *DataFrames*
A series is a column and a DataFrame is a multidimensional table made up of collection of series. In order to create a pandas series we should use numpy to create a one dimensional arrays or a python list.
Let's see an example of a series:

Names pandas Series

![pandas series](images/pandas-series-1.png) 

Countries Series

![pandas series](images/pandas-series-2.png) 

Cities Series

![pandas series](images/pandas-series-3.png)

As you can see, pandas series is just one column data. If we want to have multiple columns we use data frames. The example below shows pandas DataFrames.

Let's see, an example of a pandas data frame:

![Pandas data frame](images/pandas-dataframe-1.png)

Data from is a collection of rows and columns. Look at the table below it has many columns than the above


![Pandas data frame](images/pandas-dataframe-2.png)

Next, we will see how to import pandas and how to create Series and DataFrames using pandas

## Importing pandas

In [ ]:
import pandas as pd # importing pandas as pd
import numpy  as np # importing numpy as np

### Creating Pandas Series with default index

In [ ]:
nums = [1, 2, 3, 4,5]
s = pd.Series(nums)
s

In [ ]:
0    1
1    2
2    3
3    4
4    5
dtype: int64

### Creating  Pandas Series with custom index

In [ ]:
nums = [1, 2, 3, 4, 5]
s = pd.Series(nums, index=[1, 2, 3, 4, 5])
s

In [ ]:
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
fruits = ['Orange','Banana','Mangao']
fruits = pd.Series(fruits, index=[1, 2, 3])
fruits

In [ ]:
1    Orange
2    Banana
3    Mangao
dtype: object

### Creating Pandas Series from a dictionary

In [ ]:
dct = {'name':'Asabeneh','country':'Finland','city':'Helsinki'}

In [ ]:
s = pd.Series(dct)
s

In [ ]:
name       Asabeneh
country     Finland
city       Helsinki
dtype: object

### Creating a constant pandas series

In [ ]:
s = pd.Series(10, index = [1, 2,3])
s

In [ ]:
1    10
2    10
3    10
dtype: int64

### Creating a  pandas series using linspace

In [ ]:
s = pd.Series(np.linspace(5, 20, 10)) # linspace(starting, end, items)
s

In [ ]:
0     5.000000
1     6.666667
2     8.333333
3    10.000000
4    11.666667
5    13.333333
6    15.000000
7    16.666667
8    18.333333
9    20.000000
dtype: float64

## DataFrames

Pandas data frames can be created in different ways.

### Creating DataFrames from list of lists

In [ ]:
data = [
    ['Asabeneh', 'Finland', 'Helsink'], 
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Names','Country','City'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Names</th>
  <th>Country</th>
  <th>City</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsink</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
</tr>
  </tbody>
</table>
</div>

### Creating DataFrame using Dictionary

In [ ]:
data = {'Name': ['Asabeneh', 'David', 'John'], 'Country':[
    'Finland', 'UK', 'Sweden'], 'City': ['Helsiki', 'London', 'Stockholm']}
df = pd.DataFrame(data)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsiki</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
</tr>
  </tbody>
</table>
</div>

### Creating DataFrams from list of dictionaries

In [ ]:
data = [
    {'Name': 'Asabeneh', 'Country': 'Finland', 'City': 'Helsinki'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
</tr>
  </tbody>
</table>
</div>

## Reading CSV File using pandas

In [ ]:
import pandas as pd

df = pd.read_csv('./data/weight-height.csv')

### Data Exploration
Let's read only the first 5 rows using head()

In [ ]:
df.head() # give five rows we can increase the number of rows by passing argument to the head() method

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Gender</th>
  <th>Height</th>
  <th>Weight</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Male</td>
  <td>73.847017</td>
  <td>241.893563</td>
</tr>
<tr>
  <td>1</td>
  <td>Male</td>
  <td>68.781904</td>
  <td>162.310473</td>
</tr>
<tr>
  <td>2</td>
  <td>Male</td>
  <td>74.110105</td>
  <td>212.740856</td>
</tr>
<tr>
  <td>3</td>
  <td>Male</td>
  <td>71.730978</td>
  <td>220.042470</td>
</tr>
<tr>
  <td>4</td>
  <td>Male</td>
  <td>69.881796</td>
  <td>206.349801</td>
</tr>
  </tbody>
</table>
</div>

As you can see the csv file has three rows:Gender, Height and Weight. But we don't know the number of rows. Let's use shape meathod.

In [ ]:
df.shape # as you can see 10000 rows and three columns

In [ ]:
(10000, 3)

Let's get all the columns using columns.

In [ ]:
df.columns

In [ ]:
Index(['Gender', 'Height', 'Weight'], dtype='object')

Let's read only the last 5 rows using tail()

In [ ]:
df.tail() # tails give the last five rows, we can increase the rows by passing argument to tail method

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Gender</th>
  <th>Height</th>
  <th>Weight</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>9995</td>
  <td>Female</td>
  <td>66.172652</td>
  <td>136.777454</td>
</tr>
<tr>
  <td>9996</td>
  <td>Female</td>
  <td>67.067155</td>
  <td>170.867906</td>
</tr>
<tr>
  <td>9997</td>
  <td>Female</td>
  <td>63.867992</td>
  <td>128.475319</td>
</tr>
<tr>
  <td>9998</td>
  <td>Female</td>
  <td>69.034243</td>
  <td>163.852461</td>
</tr>
<tr>
  <td>9999</td>
  <td>Female</td>
  <td>61.944246</td>
  <td>113.649103</td>
</tr>
  </tbody>
</table>
</div>

Now, lets get specif colums using the column key

In [ ]:
heights = df['Height'] # this is now a a series

In [ ]:
heights

In [ ]:
0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...    
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

In [ ]:
weights = df['Weight'] # this is now a series

In [ ]:
weights

In [ ]:
0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...    
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [ ]:
len(heights) == len(weights)

In [ ]:
True

In [ ]:
heights.describe() # give statisical information about height data

In [ ]:
count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

In [ ]:
weights.describe()

In [ ]:
count    10000.000000
mean       161.440357
std         32.108439
min         64.700127
25%        135.818051
50%        161.212928
75%        187.169525
max        269.989699
Name: Weight, dtype: float64

In [ ]:
df.describe()  # describe can also give statistical information from a datafrom

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Height</th>
  <th>Weight</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>count</td>
  <td>10000.000000</td>
  <td>10000.000000</td>
</tr>
<tr>
  <td>mean</td>
  <td>66.367560</td>
  <td>161.440357</td>
</tr>
<tr>
  <td>std</td>
  <td>3.847528</td>
  <td>32.108439</td>
</tr>
<tr>
  <td>min</td>
  <td>54.263133</td>
  <td>64.700127</td>
</tr>
<tr>
  <td>25%</td>
  <td>63.505620</td>
  <td>135.818051</td>
</tr>
<tr>
  <td>50%</td>
  <td>66.318070</td>
  <td>161.212928</td>
</tr>
<tr>
  <td>75%</td>
  <td>69.174262</td>
  <td>187.169525</td>
</tr>
<tr>
  <td>max</td>
  <td>78.998742</td>
  <td>269.989699</td>
</tr>
  </tbody>
</table>
</div>

## Modifying DataFrame



Modifying a DataFrame
    * We can create a new DataFrame
    * We can create a new column and add to DataFrame, 
    * we can remove an existing column from DataFrame, 
    * we can modify an existing column from DataFrame, 
    * we can change the data type of column values from DataFrame

### Create a DataFrame
All the time, first we import the necessary packages. Now, lets import pandas and numpy two best friends ever.

In [ ]:
import pandas as pd
import numpy as np
data = [
    {"Name": "Asabeneh", "Country":"Finland","City":"Helsinki"},
    {"Name": "David", "Country":"UK","City":"London"},
    {"Name": "John", "Country":"Sweden","City":"Stockholm"}]
df = pd.DataFrame(data)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
</tr>
  </tbody>
</table>
</div>

Adding column in DataFrame is like adding a key in dictionary.

First let's use the previous example to create a DataFrame. After we create the DataFrame,  we will start modifying the columns and column values.

### Adding new column
Let's add a weight column in the DataFrame

In [ ]:
weights = [74, 78, 69]
df['Weight'] = weights
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
  <td>74</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
  <td>78</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
  <td>69</td>
</tr>
  </tbody>
</table>
</div>

Let's add a height column in the DataFrame

In [ ]:
heights = [173, 175, 169]
df['Height'] =heights
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
  <th>Height</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
  <td>74</td>
  <td>173</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
  <td>78</td>
  <td>175</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
  <td>69</td>
  <td>169</td>
</tr>
  </tbody>
</table>
</div>

As you can see from the above DataFrame, now we new added columns, the Weight and Height. Let's add one additional column by called BMI(Body Mass Index) by calculating their BMI using thier mass and height. BMI is mass divided by height square meter(Weight/Height * Height).

As you can see, the hieght is in centimeter, so we shoud change the height to meter. So, let's modify the height row

### Modifying column values

In [ ]:
df['Height'] = df['Height'] * 0.01
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
  <th>Height</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
  <td>74</td>
  <td>1.73</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
  <td>78</td>
  <td>1.75</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
  <td>69</td>
  <td>1.69</td>
</tr>
  </tbody>
</table>
</div>

In [ ]:
# Using function makes our code clean but you can just calculate the bmi without function
def calculate_bmi ():
    weights = df['Weight']
    heights = df['Height']
    bmi = []
    for w,h in zip(weights, heights):
        b = w/(h*h)
        bmi.append(b)
    return bmi
    
bmi = calculate_bmi()

In [ ]:
df['BMI'] = bmi
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
  <th>Height</th>
  <th>BMI</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
  <td>74</td>
  <td>1.73</td>
  <td>24.725183</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
  <td>78</td>
  <td>1.75</td>
  <td>25.469388</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
  <td>69</td>
  <td>1.69</td>
  <td>24.158818</td>
</tr>
  </tbody>
</table>
</div>

### Formating DataFrame column

The BMI of the above DataFrame has is float with many significant digits after decimal. Let's make it to have only one significant digit after point.

In [ ]:
df['BMI'] = round(df['BMI'], 1)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
  <th>Height</th>
  <th>BMI</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
  <td>74</td>
  <td>1.73</td>
  <td>24.7</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
  <td>78</td>
  <td>1.75</td>
  <td>25.5</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
  <td>69</td>
  <td>1.69</td>
  <td>24.2</td>
</tr>
  </tbody>
</table>
</div>

The information in the DataFrame seems not yet complete, let's add birth year and current year columns.

In [ ]:
birth_year = ['1769', '1985', '1990']
current_year = pd.Series(2019, index=[0, 1,2])
df['Birth Year'] = birth_year
df['Current Year'] = current_year
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
  <th>Height</th>
  <th>BMI</th>
  <th>Birth Year</th>
  <th>Current Year</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
  <td>74</td>
  <td>1.73</td>
  <td>24.7</td>
  <td>1769</td>
  <td>2019</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
  <td>78</td>
  <td>1.75</td>
  <td>25.5</td>
  <td>1985</td>
  <td>2019</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
  <td>69</td>
  <td>1.69</td>
  <td>24.2</td>
  <td>1990</td>
  <td>2019</td>
</tr>
  </tbody>
</table>
</div>

## Checking data types of Column values

In [ ]:
df.Weight.dtype

In [ ]:
dtype('int64')

In [ ]:
df['Birth Year'].dtype # it give string object , we should change this to number

In [ ]:
dtype('O')

In [ ]:
df['Birth Year'] = df['Birth Year'].astype('int')
df['Birth Year'].dtype # let's check the data type now

In [ ]:
dtype('int64')

In [ ]:
df['Current Year'] = df['Current Year'].astype('int')
df['Current Year'].dtype

In [ ]:
dtype('int64')

Now, the column values of birth year and current year are integers. We can calculate the age.

In [ ]:
ages = df['Current Year'] - df['Birth Year']
ages

In [ ]:
0    250
1     34
2     29
dtype: int64

In [ ]:
df['Ages'] = ages
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
  <th>Height</th>
  <th>BMI</th>
  <th>Birth Year</th>
  <th>Current Year</th>
  <th>Ages</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
  <td>74</td>
  <td>1.73</td>
  <td>24.7</td>
  <td>1769</td>
  <td>2019</td>
  <td>250</td>
</tr>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
  <td>78</td>
  <td>1.75</td>
  <td>25.5</td>
  <td>1985</td>
  <td>2019</td>
  <td>34</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
  <td>69</td>
  <td>1.69</td>
  <td>24.2</td>
  <td>1990</td>
  <td>2019</td>
  <td>29</td>
</tr>
  </tbody>
</table>
</div>

The person in the first row lives 250 years. It is unlikely for someone to live 250 years. Either it is a typo or the data is cooked. So lets fill that data with average of the columns without including outlier. 

mean = (34 + 29)/ 2

In [ ]:
mean = (34 + 29)/ 2
mean

In [ ]:
31.5

### Boolean Indexing

In [ ]:
df[df['Ages'] > 120]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
  <th>Height</th>
  <th>BMI</th>
  <th>Birth Year</th>
  <th>Current Year</th>
  <th>Ages</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>0</td>
  <td>Asabeneh</td>
  <td>Finland</td>
  <td>Helsinki</td>
  <td>74</td>
  <td>1.73</td>
  <td>24.7</td>
  <td>1769</td>
  <td>2019</td>
  <td>250</td>
</tr>
  </tbody>
</table>
</div>

In [ ]:
df[df['Ages'] < 120]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

.dataframe thead th {
    text-align: right;
}
</style>
<table border="1" class="dataframe">
  <thead>
<tr style="text-align: right;">
  <th></th>
  <th>Name</th>
  <th>Country</th>
  <th>City</th>
  <th>Weight</th>
  <th>Height</th>
  <th>BMI</th>
  <th>Birth Year</th>
  <th>Current Year</th>
  <th>Ages</th>
</tr>
  </thead>
  <tbody>
<tr>
  <td>1</td>
  <td>David</td>
  <td>UK</td>
  <td>London</td>
  <td>78</td>
  <td>1.75</td>
  <td>25.5</td>
  <td>1985</td>
  <td>2019</td>
  <td>34</td>
</tr>
<tr>
  <td>2</td>
  <td>John</td>
  <td>Sweden</td>
  <td>Stockholm</td>
  <td>69</td>
  <td>1.69</td>
  <td>24.2</td>
  <td>1990</td>
  <td>2019</td>
  <td>29</td>
</tr>
  </tbody>
</table>
</div>

In [ ]:
df['Ages']  = df[df['Ages'] > 120]

## Exercises: Day 25
1. Read the hacker_ness.csv file from data directory 
1. Get the first five rows
1. Get the last five rows
1. Get the title column as pandas series
1. Count the number of rows and columns
    * Filter the titles which contain python
    * Filter the titles which contain JavaScript
    * Explore the data and make sense of the data
# ðŸ“˜ Day 26

## Python for Web

Python is a general purpose programming language and it can be used for many places. In this section, we will see how we use python for the web. There are many python web frame works. Django and Flask are the most popular ones. Today, we will see how to use Flask for web development.

### Flask

Flask is a web development framework written in python. Flask uses Jinja2 template engine. Flask can be also used with other modern frond libraries such as react.
If you did not install the virtualenv package ye install it first. Virtual environment will allows to isolate project dependencies.

#### Folder structure

After completing all the step your project file structure should look like this:

In [ ]:

â”œâ”€â”€ Procfile
â”œâ”€â”€ app.py
â”œâ”€â”€ env
â”‚Â Â  â”œâ”€â”€ bin
â”œâ”€â”€ requirements.txt
â”œâ”€â”€ static
â”‚Â Â  â””â”€â”€ css
â”‚Â Â      â””â”€â”€ main.css
â””â”€â”€ templates
    â”œâ”€â”€ about.html
    â”œâ”€â”€ home.html
    â”œâ”€â”€ layout.html
    â”œâ”€â”€ post.html
    â””â”€â”€ result.html

### Setting up your project directory

Follow, the following steps to get started with Flask.
Step 1: install virtualenv using the following command.

In [ ]:
pip install virtualenv

Step 2:

In [ ]:
asabeneh@Asabeneh:~/Desktop$ mkdir python_for_web
asabeneh@Asabeneh:~/Desktop$ cd python_for_web/
asabeneh@Asabeneh:~/Desktop/python_for_web$ virtualenv env
asabeneh@Asabeneh:~/Desktop/python_for_web$ source env/bin/activate
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ pip freeze
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ pip install Flask
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ pip freeze
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$

We created a project director named python*for_web. Inside the project we created a virtual environment \_env* which could be any name but I prefer to call it _env_. Then we activated the virtual environment. We used pip freeze to check the installed packages in the project directory. The result of pip freeze was empty because a package was not installed yet.

Now, let's create app.py file in the project directory and write the following code. The app.py file will be the main file in the project. The following code has flask module, os module.

### Creating routes

The home route.

In [ ]:
# let's import the flask
from flask import Flask
import os # importing operating system module

app = Flask(__name__)

@app.route('/') # this decorator create the home route
def home ():
    return '<h1>Welcome</h1>'

@app.route('/about')
def about():
    return '<h1>About us</h1>'


if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

After you run _python app.py_ check local host 5000.

Let's add additional route.
Creating about route

In [ ]:
# let's import the flask
from flask import Flask
import os # importing operating system module

app = Flask(__name__)

@app.route('/') # this decorator create the home route
def home ():
    return '<h1>Welcome</h1>'

@app.route('/about')
def about():
    return '<h1>About us</h1>'

if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

Now, we added the about route in the above code. How about if we want to render an HTML file instead of string? It is possible to render HTML file using the function _render_templae_. Let's create a folder called templates and create home.html and about.html in the project directory. Let's also import the _render_template_ function from flask.

### Creating templates

Create the HTML files inside templates folder.

home.html

In [ ]:
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <h1>Welcome Home</h1>
  </body>
</html>

about.html

In [ ]:
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>

  <body>
    <h1>About Us</h1>
  </body>
</html>

### Python Script

app.py

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

app = Flask(__name__)

@app.route('/') # this decorator create the home route
def home ():
    return render_template('home.html')

@app.route('/about')
def about():
    return render_template('about.html')

if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

As you can see to go to different pages or to navigate we need a navigation. Let's add a link to each page or let's create a layout which we use to every page.

### Navigation

In [ ]:
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
</ul>

Now, we can navigate between the pages using the above link. Let's create additional page which handle form data. You can call it any name, I like to call it post.html.

We can inject data to the HTML files using Jinja2 template engine.

In [ ]:
# let's import the flask
from flask import Flask, render_template, request, redirect, url_for
import os # importing operating system module

app = Flask(__name__)

@app.route('/') # this decorator create the home route
def home ():
    techs = ['HTML', 'CSS', 'Flask', 'Python']
    name = '30 Days Of Python Programming'
    return render_template('home.html', techs=techs, name = name, title = 'Home')

@app.route('/about')
def about():
    name = '30 Days Of Python Programming'
    return render_template('about.html', name = name, title = 'About Us')

@app.route('/post')
def post():
    name = 'Text Analyzer'
    return render_template('post.html', name = name, title = name)


if __name__ == '__main__':
    # for deployment
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

Let's see the templates too:

home.html

In [ ]:
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <h1>Welcome to {{name}}</h1>
    {% for tech in techs %}
    <ul>
      <li>{{tech}}</li>
    </ul>
    {% endfor %}
  </body>
</html>

about.html

In [ ]:
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <h1>About Us</h1>
    <h2>{{name}}</h2>
  </body>
</html>

### Creating a layout

In the template files, there are lots of repeated codes, we can write a layout and we can remove the repetition. Let's create layout.html inside the templates folder.
After we create the layout we will import to every file.

layout.html

In [ ]:
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400|Nunito:300,400|Raleway:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% if title %}
    <title>30 Days of Python - {{ title}}</title>
    {% else %}
    <title>30 Days of Python</title>
    {% endif %}
  </head>

  <body>
    <header>
      <div class="menu-container">
        <div>
          <a class="brand-name nav-link" href="/">30DaysOfPython</a>
        </div>
        <ul class="nav-lists">
          <li class="nav-list">
            <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-list">
            <a class="nav-link active" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-list">
            <a class="nav-link active" href="{{ url_for('post') }}"
              >Text Analyzer</a
            >
          </li>
        </ul>
      </div>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>

Now, lets remove all the repeated code in the other template files and import the layout.html. The href is using _url_for_ function with the name of the route function to connect each navigation route.

home.html

In [ ]:
{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>Welcome to {{name}}</h1>
  <p>
    This application clean texts and analyse the number of word, characters and
    most frequent words in the text. Check it out by click text analyzer at the
    menu. You need the following technologies to build this web application:
  </p>
  <ul class="tech-lists">
    {% for tech in techs %}
    <li class="tech">{{tech}}</li>

    {% endfor %}
  </ul>
</div>

{% endblock %}

about.html

In [ ]:
{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>About {{name}}</h1>
  <p>
    This is a 30 days of python programming challenge. If you have been coding
    this far, you are awesome. Congratulations for the job well done!
  </p>
</div>
{% endblock %}

post.html

In [ ]:
{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>Text Analyzer</h1>
  <form action="https://thirtydaysofpython-v1.herokuapp.com/post" method="POST">
    <div>
      <textarea rows="25" name="content" autofocus></textarea>
    </div>
    <div>
      <input type="submit" class="btn" value="Process Text" />
    </div>
  </form>
</div>

{% endblock %}

Request methods, there are different request methods(GET, POST, PUT, DELETE) are the common request methods which allow us to do CRUD(Create Read Update Delete) operation.

In the post, route we will use GET and POST method alternative depending on the type of request, check how it looks in the code below. The request method is a function to handle request methods and also to access form data.
app.py

In [ ]:
# let's import the flask
from flask import Flask, render_template, request, redirect, url_for
import os # importing operating system module

app = Flask(__name__)
# to stop caching static file
app.config['SEND_FILE_MAX_AGE_DEFAULT'] = 0



@app.route('/') # this decorator create the home route
def home ():
    techs = ['HTML', 'CSS', 'Flask', 'Python']
    name = '30 Days Of Python Programming'
    return render_template('home.html', techs=techs, name = name, title = 'Home')

@app.route('/about')
def about():
    name = '30 Days Of Python Programming'
    return render_template('about.html', name = name, title = 'About Us')

@app.route('/result')
def result():
    return render_template('result.html')

@app.route('/post', methods= ['GET','POST'])
def post():
    name = 'Text Analyzer'
    if request.method == 'GET':
         return render_template('post.html', name = name, title = name)
    if request.method =='POST':
        content = request.form['content']
        print(content)
        return redirect(url_for('result'))

if __name__ == '__main__':
    # for deployment
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

So far, we have seen how to use template and how to inject data to template, how to a common layout.
Now, lets handle static file. Create a folder called static in the project director and create a folder called css. Inside css folder create main.css. Your main. css file will be linked to the layout.html.

You don't have to write the css file, copy and use it. Let's move on to deployment.

### Deployment

#### Creating Heroku account

Heroku provides a free deployment service for both front end and fullstack applications. Create an account on [heroku](https://www.heroku.com/) and install the heroku [CLI](https://devcenter.heroku.com/articles/heroku-cli) for you machine.
After installing heroku write the following command

#### Login to Heroku

In [ ]:
asabeneh@Asabeneh:~$ heroku login
heroku: Press any key to open up the browser to login or q to exit:

Let's see the result by clicking any key from the keyboard. When you press any key from you keyboard it will open the heroku login page and click the login page. Then you will local machine will be connected to the remote heroku server. If you are connected to remote server, you will see this.

In [ ]:
asabeneh@Asabeneh:~$ heroku login
heroku: Press any key to open up the browser to login or q to exit:
Opening browser to https://cli-auth.heroku.com/auth/browser/be12987c-583a-4458-a2c2-ba2ce7f41610
Logging in... done
Logged in as asabeneh@gmail.com
asabeneh@Asabeneh:~$

#### Create requirements and Procfile

Before we push our code to remote server, we need requirements

- requirements.txt
- Procfile

In [ ]:
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ pip freeze
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ touch requirements.txt
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ pip freeze > requirements.txt
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ cat requirements.txt
Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ touch Procfile
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$ ls
Procfile          env/              static/
app.py            requirements.txt  templates/
(env) asabeneh@Asabeneh:~/Desktop/python_for_web$

The Procfile will have the command which run the application in the web server in our case on Heroku.

In [ ]:
web: python app.py

#### Pushing project to heroku

Now, it is ready to be deployed. Steps to deploy the application on heroku

1. git init
2. git add .
3. git commit -m "commit message"
4. heroku create 'name of the app as one word'
5. git push heroku master
6. heroku open(to launch the deployed application)

After this step you will get an application like [this](http://thirdaysofpython-practice.herokuapp.com/)

## Exercises: Day 26

1. You will build [this application](https://thirtydaysofpython-v1-final.herokuapp.com/). Only the text analyser part is left

# ðŸ“˜ Day 27

# Python with MongoDB

Python is a backend technology and it can be connected with different data base applications such as MongoDB and SQL.

## MongoDB

MongoDB is a NoSQL database. MongoDB stores data in a JSON like document which make MongoDB very flexible and scalable. Let's see the different terminologies of SQL and NoSQL databases. The following table will make the difference between SQL vs NoSQL databases.

### SQL versus NoSQL

![SQL versus NoSQL](./images/mongoDB/sql-vs-nosql.png)

In this section we will focus on a NoSQL database MongoDB. Lets sign up on [mongoDB](https://www.mongodb.com/) by click on the sign in button then click register on the next page.

![MongoDB Sign up pages](./images/mongoDB/mongodb-signup-page.png)

Complete the fields and click continue

![Mongodb register](./images/mongoDB/mongodb-register.png)

Select the free plan

![Mongodb free plan](./images/mongoDB/mongodb-free.png)

Choose the proximate free region and give any name for you cluster. 

![Mongodb cluster name](./images/mongoDB/mongodb-cluster-name.png)

Now, a free sandbox is created

![Mongodb sandbox](./images/mongoDB/mongodb-sandbox.png)

All local host access

![Mongodb allow ip access](./images/mongoDB/mongodb-allow-ip-access.png)

Add user and password

![Mongodb add user](./images/mongoDB/mongodb-add-user.png)

Create a mongoDB uri link

![Mongodb create uri](./images/mongoDB/mongodb-create-uri.png)

Select python 3.6 or above driver

![Mongodb python driver](./images/mongoDB/mongodb-python-driver.png)

### Getting Connection String(MongoDB URI)

Copy the connection string only link and you get something like this

In [ ]:
mongodb+srv://asabeneh:<password>@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority

Don't worry about the url, it is a means to connect your application with mongoDB.
Let's replace the password placeholder with the passed you use to add a user.
**Example:**

In [ ]:
mongodb+srv://asabeneh:123123123@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority

Now, I replaced everything and the password is 123123 and the name of the database is thirty_days_python. This is just an example, your password must a bit strong than this.

Python needs a mongoDB driver to access mongoDB database. We will use _pymongo_ with _dnspython_ to connect our application with mongoDB base . Inside your project directory install pymongo and dnspython.

In [ ]:
pip install pymongo dnspython

The "dnspython" module must be installed to use mongodb+srv:// URIs. The dnspython is a DNS toolkit for Python. It supports almost all record types.

### Connecting Flask application to MongoDB Cluster

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module
MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
print(client.list_database_names())

app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

When we run the above code we get the default mongoDB databases.

In [ ]:
['admin', 'local']

### Creating a database and collection

Let's create a database, database and collection in mongoDB will be created if it doesn't exist. Let's create a data base name _thirty_days_of_python_ and _students_ collection.
To create a database

In [ ]:
db = client.name_of_databse # we can create a database like this or the second way
db = client['name_of_database']

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module
MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
# Creating database
db = client.thirty_days_of_python
# Creating students collection and inserting a document
db.students.insert_one({'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250})
print(client.list_database_names())

app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

After we create a database, we also created a students collection and we used _insert_one_ method to insert a document.
Now, the data _thirty_days_of_python_ and _students_ collection have been created and the document has been inserted.
Check your mongoDB cluster and you will see both the database and the collection. Inside the collection, there will be a document.

In [ ]:
['thirty_days_of_python', 'admin', 'local']

If you see this on the mongoDB cluster, it means you have successfully created a database and a collection.

![Creating database and collection](./images/mongoDB/mongodb-creating_database.png)

If you have seen on the figure, the document has been created with a long id which acts as a primary key. Every time we create a document mongoDB create and unique id for it.

### Inserting many documents to collection

The _insert_one()_ method inserts one item at a time if we want to insert many documents at once either we use _insert_many()_ method or for loop.
We can use for loop to inset many documents at once.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module
MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)

students = [
        {'name':'David','country':'UK','city':'London','age':34},
        {'name':'John','country':'Sweden','city':'Stockholm','age':28},
        {'name':'Sami','country':'Finland','city':'Helsinki','age':25},
    ]
for student in students:
    db.students.insert_one(student)


app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

### MongoDB Find

The find and findOne methods common method to find data in a collection in mongoDB database. It is similar to the SELECT statement in a MySQL database.
Let's use the _find_one()_ method to get documents in the database collection.

- \*find_one({"\_id": ObjectId("id"}): Gets the first occurrence if an id is not provided

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module
MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
student = db.students.find_one()
print(student)


app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Helsinki', 'city': 'Helsinki', 'age': 250}

The above query returns the first entry but we can target specific document using specific \_id. Let's do one example, let's use David's id to get David object.
'\_id':ObjectId('5df68a23f106fe2d315bbc8c')

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module
from bson.objectid import ObjectId # id object
MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
student = db.students.find_one({'_id':ObjectId('5df68a23f106fe2d315bbc8c')})
print(student)

app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a23f106fe2d315bbc8c'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}

We have seen, how to use _find_one()_ using the above examples. Let's move one to _find()_

- _find()_: returns all the occurrence from a collection if we don't pass a query object. The object is pymongo.cursor object.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
students = db.students.find()
for student in students:
    print(student)

app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Helsinki', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('5df68a23f106fe2d315bbc8c'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('5df68a23f106fe2d315bbc8d'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

We can specify which fields to return by passing second object in the _find({}, {})_. 0 means not include and 1 means include but we can not mix 0 and 1, except for \_id.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
students = db.students.find({}, {"_id":0,  "name": 1, "country":1}) # 0 means not include and 1 means include
for student in students:
    print(student)

app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'name': 'Asabeneh', 'country': 'Finland'}
{'name': 'David', 'country': 'UK'}
{'name': 'John', 'country': 'Sweden'}
{'name': 'Sami', 'country': 'Finland'}

### Find with Query

In mongoDB find take a query object. We can pass a query object and we can filter the documents we like to filter out.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
students = db.students.find(query)

for student in students:
    print(student)


app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

Query with modifiers

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
students = db.students.find(query)

for student in students:
    print(student)


app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

### Find query with modifier

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
students = db.students.find(query)

for student in students:
    print(student)


app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

Query with modifiers

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
query = {"age":{"$gt":30}}
students = db.students.find(query)
for student in students:
    print(student)


app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('5df68a23f106fe2d315bbc8c'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
query = {"age":{"$gt":30}}
students = db.students.find(query)
for student in students:
    print(student)

In [ ]:
{'_id': ObjectId('5df68a23f106fe2d315bbc8d'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

### Limiting documents
We can limit the number of documents we return using the *limit()* method.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
db.students.find().limit(3)

### Find with sort

By default, sort is in ascending order. We can change to descending by adding -1 parameter.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
students = db.students.find().sort('name')
for student in students:
    print(student)


students = db.students.find().sort('name',-1)
for student in students:
    print(student)

students = db.students.find().sort('age')
for student in students:
    print(student)

students = db.students.find().sort('age',-1)
for student in students:
    print(student)

app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

Ascending order

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('5df68a23f106fe2d315bbc8c'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('5df68a23f106fe2d315bbc8d'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

Descending order

In [ ]:
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}
{'_id': ObjectId('5df68a23f106fe2d315bbc8d'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('5df68a23f106fe2d315bbc8c'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}

### Update with query

We will use _update_one()_ method to update one item. It takes two object one is a qeury and the second is the new object.
The first person, Asabeneh got a very implausible age. Let's update Asabeneh's age.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database

query = {'age':250}
new_value = {'$set':{'age':38}}

db.students.update_one(query, new_value)
# lets check the result if the age is modified
for student in db.students.find():
    print(student)


app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 38}
{'_id': ObjectId('5df68a23f106fe2d315bbc8c'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('5df68a23f106fe2d315bbc8d'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

When we want to update many documents at once we use *upate_many()*method.

### Delete Document

The method _delete_one()_ delete one document.The _delete_one()_ take a query object parameter. It only removes the first occurrence.
Let's remove one John from the collection.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database

query = {'name':'John'}
db.students.delete_one(query)

for student in db.students.find():
    print(student)
# lets check the result if the age is modified
for student in db.students.find():
    print(student)


app = Flask(__name__)
if __name__ == '__main__':
    # for deployment we use the environ
    # to make it work for both production and development
    port = int(os.environ.get("PORT", 5000))
    app.run(debug=True, host='0.0.0.0', port=port)

In [ ]:
{'_id': ObjectId('5df68a21f106fe2d315bbc8b'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 38}
{'_id': ObjectId('5df68a23f106fe2d315bbc8c'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('5df68a23f106fe2d315bbc8e'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

As you can see John as been removed from the collection

When we want to delete many documents we use _delete_many()_ method, it takes a query object. If we pass an empyt query object to _delete_many({})_ it will delete all the documents in the collection.

### Drop a collection

Using the _drop()_ method we can delete a collection from a database.

In [ ]:
# let's import the flask
from flask import Flask, render_template
import os # importing operating system module

MONGODB_URI = 'mongodb+srv://asabeneh:your_password_goes_here@30daysofpython-twxkr.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(MONGODB_URI)
db = client['thirty_days_of_python'] # accessing the database
db.students.drop()

Now, we have deleted the students collection from the database.

## ðŸ’» Exercises: Day 27



[<< Part 8 ](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme22-24.md) | [Part 10 >>](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/readme28-30.md)

---