# 30å¤©Pythonç¼–ç¨‹æŒ‘æˆ˜ï¼šç¬¬25å¤© - Pandas

- [ç¬¬25å¤©](#-ç¬¬25å¤©)
  - [Pandas](#pandas)
    - [å®‰è£…Pandas](#å®‰è£…pandas)
    - [å¯¼å…¥Pandas](#å¯¼å…¥pandas)
    - [ä½¿ç”¨é»˜è®¤ç´¢å¼•åˆ›å»ºPandasç³»åˆ—](#ä½¿ç”¨é»˜è®¤ç´¢å¼•åˆ›å»ºpandasç³»åˆ—)
    - [ä½¿ç”¨è‡ªå®šä¹‰ç´¢å¼•åˆ›å»ºPandasç³»åˆ—](#ä½¿ç”¨è‡ªå®šä¹‰ç´¢å¼•åˆ›å»ºpandasç³»åˆ—)
    - [ä»å­—å…¸åˆ›å»ºPandasç³»åˆ—](#ä»å­—å…¸åˆ›å»ºpandasç³»åˆ—)
    - [åˆ›å»ºå¸¸é‡Pandasç³»åˆ—](#åˆ›å»ºå¸¸é‡pandasç³»åˆ—)
    - [ä½¿ç”¨Linspaceåˆ›å»ºPandasç³»åˆ—](#ä½¿ç”¨linspaceåˆ›å»ºpandasç³»åˆ—)
  - [æ•°æ®æ¡†ï¼ˆDataFramesï¼‰](#æ•°æ®æ¡†dataframes)
    - [ä»åˆ—è¡¨çš„åˆ—è¡¨åˆ›å»ºæ•°æ®æ¡†](#ä»åˆ—è¡¨çš„åˆ—è¡¨åˆ›å»ºæ•°æ®æ¡†)
    - [ä½¿ç”¨å­—å…¸åˆ›å»ºæ•°æ®æ¡†](#ä½¿ç”¨å­—å…¸åˆ›å»ºæ•°æ®æ¡†)
    - [ä»å­—å…¸åˆ—è¡¨åˆ›å»ºæ•°æ®æ¡†](#ä»å­—å…¸åˆ—è¡¨åˆ›å»ºæ•°æ®æ¡†)
  - [ä½¿ç”¨Pandasè¯»å–CSVæ–‡ä»¶](#ä½¿ç”¨pandasè¯»å–csvæ–‡ä»¶)
    - [æ•°æ®æ¢ç´¢](#æ•°æ®æ¢ç´¢)
  - [ä¿®æ”¹æ•°æ®æ¡†](#ä¿®æ”¹æ•°æ®æ¡†)
    - [åˆ›å»ºæ•°æ®æ¡†](#åˆ›å»ºæ•°æ®æ¡†)
    - [æ·»åŠ æ–°åˆ—](#æ·»åŠ æ–°åˆ—)
    - [ä¿®æ”¹åˆ—å€¼](#ä¿®æ”¹åˆ—å€¼)
    - [æ ¼å¼åŒ–æ•°æ®æ¡†åˆ—](#æ ¼å¼åŒ–æ•°æ®æ¡†åˆ—)
  - [æ£€æŸ¥åˆ—å€¼çš„æ•°æ®ç±»å‹](#æ£€æŸ¥åˆ—å€¼çš„æ•°æ®ç±»å‹)
    - [å¸ƒå°”ç´¢å¼•](#å¸ƒå°”ç´¢å¼•)
  - [ç»ƒä¹ ï¼šç¬¬25å¤©](#ç»ƒä¹ ç¬¬25å¤©)
  
# ğŸ“˜ ç¬¬25å¤©

## Pandas

Pandasæ˜¯ä¸€ä¸ªå¼€æºçš„ã€é«˜æ€§èƒ½çš„ã€æ˜“äºä½¿ç”¨çš„Pythonç¼–ç¨‹è¯­è¨€æ•°æ®ç»“æ„å’Œæ•°æ®åˆ†æå·¥å…·ã€‚
Pandasæ·»åŠ äº†è®¾è®¡ç”¨äºå¤„ç†è¡¨æ ¼æ•°æ®çš„æ•°æ®ç»“æ„å’Œå·¥å…·ï¼Œè¿™äº›æ•°æ®ç»“æ„æ˜¯*ç³»åˆ—ï¼ˆSeriesï¼‰*å’Œ*æ•°æ®æ¡†ï¼ˆData Framesï¼‰*ã€‚
Pandasæä¾›äº†ç”¨äºæ•°æ®æ“ä½œçš„å·¥å…·ï¼š

- é‡å¡‘
- åˆå¹¶
- æ’åº
- åˆ‡ç‰‡
- èšåˆ
- æ’è¡¥
å¦‚æœä½ ä½¿ç”¨çš„æ˜¯anacondaï¼Œåˆ™ä¸å¿…å®‰è£…pandasã€‚

### å®‰è£…Pandas

å¯¹äºMacï¼š

In [ ]:
pip install conda
conda install pandas

å¯¹äºWindowsï¼š

In [ ]:
pip install conda
pip install pandas

Pandasæ•°æ®ç»“æ„åŸºäº*ç³»åˆ—ï¼ˆSeriesï¼‰*å’Œ*æ•°æ®æ¡†ï¼ˆDataFramesï¼‰*ã€‚

*ç³»åˆ—*æ˜¯ä¸€ä¸ª*åˆ—*ï¼Œè€Œæ•°æ®æ¡†æ˜¯ç”±*ç³»åˆ—*é›†åˆç»„æˆçš„*å¤šç»´è¡¨*ã€‚ä¸ºäº†åˆ›å»ºpandasç³»åˆ—ï¼Œæˆ‘ä»¬åº”è¯¥ä½¿ç”¨numpyåˆ›å»ºä¸€ç»´æ•°ç»„æˆ–Pythonåˆ—è¡¨ã€‚
è®©æˆ‘ä»¬çœ‹ä¸€ä¸ªç³»åˆ—çš„ä¾‹å­ï¼š

åç§°Pandasç³»åˆ—

![pandas series](../images/pandas-series-1.png) 

å›½å®¶ç³»åˆ—

![pandas series](../images/pandas-series-2.png) 

åŸå¸‚ç³»åˆ—

![pandas series](../images/pandas-series-3.png)

å¦‚ä½ æ‰€è§ï¼Œpandasç³»åˆ—åªæ˜¯ä¸€åˆ—æ•°æ®ã€‚å¦‚æœæˆ‘ä»¬æƒ³è¦æœ‰å¤šåˆ—ï¼Œæˆ‘ä»¬ä½¿ç”¨æ•°æ®æ¡†ã€‚ä¸‹é¢çš„ä¾‹å­æ˜¾ç¤ºäº†pandasæ•°æ®æ¡†ã€‚

è®©æˆ‘ä»¬çœ‹ä¸€ä¸ªpandasæ•°æ®æ¡†çš„ä¾‹å­ï¼š

![Pandas data frame](../images/pandas-dataframe-1.png)

æ•°æ®æ¡†æ˜¯è¡Œå’Œåˆ—çš„é›†åˆã€‚çœ‹çœ‹ä¸‹é¢çš„è¡¨æ ¼ï¼›å®ƒæ¯”ä¸Šé¢çš„ä¾‹å­æœ‰æ›´å¤šçš„åˆ—ï¼š

![Pandas data frame](../images/pandas-dataframe-2.png)

æ¥ä¸‹æ¥ï¼Œæˆ‘ä»¬å°†çœ‹åˆ°å¦‚ä½•å¯¼å…¥pandasä»¥åŠå¦‚ä½•ä½¿ç”¨pandasåˆ›å»ºç³»åˆ—å’Œæ•°æ®æ¡†

### å¯¼å…¥Pandas

In [ ]:
import pandas as pd # å°†pandaså¯¼å…¥ä¸ºpd
import numpy  as np # å°†numpyå¯¼å…¥ä¸ºnp

### ä½¿ç”¨é»˜è®¤ç´¢å¼•åˆ›å»ºPandasç³»åˆ—

In [ ]:
nums = [1, 2, 3, 4,5]
s = pd.Series(nums)
print(s)

In [ ]:
0    1
1    2
2    3
3    4
4    5
dtype: int64

### ä½¿ç”¨è‡ªå®šä¹‰ç´¢å¼•åˆ›å»ºPandasç³»åˆ—

In [ ]:
nums = [1, 2, 3, 4, 5]
s = pd.Series(nums, index=[1, 2, 3, 4, 5])
print(s)

In [ ]:
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
fruits = ['Orange','Banana','Mango']
fruits = pd.Series(fruits, index=[1, 2, 3])
print(fruits)

In [ ]:
1    Orange
2    Banana
3    Mango
dtype: object

### ä»å­—å…¸åˆ›å»ºPandasç³»åˆ—

In [ ]:
dct = {'name':'Asabeneh','country':'Finland','city':'Helsinki'}

In [ ]:
s = pd.Series(dct)
print(s)

In [ ]:
name       Asabeneh
country     Finland
city       Helsinki
dtype: object

### åˆ›å»ºå¸¸é‡Pandasç³»åˆ—

In [ ]:
s = pd.Series(10, index = [1, 2, 3])
print(s)

In [ ]:
1    10
2    10
3    10
dtype: int64

### ä½¿ç”¨Linspaceåˆ›å»ºPandasç³»åˆ—

In [ ]:
s = pd.Series(np.linspace(5, 20, 10)) # linspace(èµ·å§‹ç‚¹, ç»ˆç‚¹, é¡¹ç›®æ•°)
print(s)

In [ ]:
0     5.000000
1     6.666667
2     8.333333
3    10.000000
4    11.666667
5    13.333333
6    15.000000
7    16.666667
8    18.333333
9    20.000000
dtype: float64

## æ•°æ®æ¡†ï¼ˆDataFramesï¼‰

Pandasæ•°æ®æ¡†å¯ä»¥ä»¥ä¸åŒçš„æ–¹å¼åˆ›å»ºï¼š

- ä»åˆ—è¡¨çš„åˆ—è¡¨åˆ›å»º
- ä»å­—å…¸åˆ›å»º
- ä»å­—å…¸çš„åˆ—è¡¨åˆ›å»º
- ä»CSVæ–‡ä»¶åˆ›å»º

### ä»åˆ—è¡¨çš„åˆ—è¡¨åˆ›å»ºæ•°æ®æ¡†

In [ ]:
data = [
    ['Asabeneh', 'Finland', 'Helsinki'], 
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Name', 'Country', 'City'])
print(df)

In [ ]:
        Name Country      City
0   Asabeneh Finland  Helsinki
1      David      UK    London
2       John  Sweden Stockholm

### ä½¿ç”¨å­—å…¸åˆ›å»ºæ•°æ®æ¡†

In [ ]:
data = {'Name': ['Asabeneh', 'David', 'John'], 'Country':[
    'Finland', 'UK', 'Sweden'], 'City': ['Helsinki', 'London', 'Stockholm']}
df = pd.DataFrame(data)
print(df)

In [ ]:
        Name Country      City
0   Asabeneh Finland  Helsinki
1      David      UK    London
2       John  Sweden Stockholm

### ä»å­—å…¸åˆ—è¡¨åˆ›å»ºæ•°æ®æ¡†

In [ ]:
data = [
    {'Name': 'Asabeneh', 'Country': 'Finland', 'City': 'Helsinki'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data)
print(df)

In [ ]:
        Name Country      City
0   Asabeneh Finland  Helsinki
1      David      UK    London
2       John  Sweden Stockholm

## ä½¿ç”¨Pandasè¯»å–CSVæ–‡ä»¶

è®©æˆ‘ä»¬åœ¨æ•°æ®ç›®å½•ä¸­è¯»å–æ–‡ä»¶ï¼Œå°†é€šè¿‡å°†æ–‡ä»¶è·¯å¾„ä½œä¸ºå‚æ•°ä¼ é€’ç»™pd.read_csv()å‡½æ•°æ¥è¯»å–weight-height.csvæ–‡ä»¶ã€‚è®©æˆ‘ä»¬ä½¿ç”¨head()æ–¹æ³•æŸ¥çœ‹å‰äº”è¡Œã€‚

In [ ]:
import pandas as pd

df = pd.read_csv('./data/weight-height.csv')
print(df.head()) # é»˜è®¤ä¸ºå‰äº”è¡Œ

In [ ]:
   Gender     Height      Weight
0    Male  73.847017  241.893563
1    Male  68.781904  162.310473
2    Male  74.110105  212.740856
3    Male  71.730978  220.042470
4    Male  69.881796  206.349801

è®©æˆ‘ä»¬ä½¿ç”¨tail()æ–¹æ³•æŸ¥çœ‹æœ€åäº”è¡Œï¼š

In [ ]:
print(df.tail()) # æœ€åäº”è¡Œ

In [ ]:
      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

### æ•°æ®æ¢ç´¢

è®©æˆ‘ä»¬ä½¿ç”¨shapeå±æ€§è·å–è¡Œå’Œåˆ—çš„æ•°é‡ï¼š

In [ ]:
print(df.shape) # è¡Œå’Œåˆ—çš„æ•°é‡

In [ ]:
(10000, 3)

å¦‚ä½ æ‰€è§ï¼Œè¯¥æ•°æ®é›†æœ‰10000è¡Œå’Œ3åˆ—ã€‚è®©æˆ‘ä»¬è·å–æœ‰å…³æ•°æ®çš„æ›´å¤šä¿¡æ¯ï¼š

In [ ]:
print(df.columns) # åˆ—å
print(df.head(10)) # å‰10è¡Œ
print(df.tail(10)) # æœ€å10è¡Œ
print(df['Gender'].value_counts()) # è®¡ç®—æ¯ä¸ªå€¼æœ‰å¤šå°‘ä¸ª
print(df.describe()) # æ•°æ®ç»Ÿè®¡æ¦‚è¦

In [ ]:
Index(['Gender', 'Height', 'Weight'], dtype='object')
   Gender     Height      Weight
0    Male  73.847017  241.893563
1    Male  68.781904  162.310473
2    Male  74.110105  212.740856
3    Male  71.730978  220.042470
4    Male  69.881796  206.349801
5    Male  68.767792  152.212156
6    Male  67.961960  183.927889
7    Male  68.563817  175.929316
8    Male  71.267570  196.028855
9    Male  72.040119  205.801386
      Gender     Height      Weight
9990  Female  64.744846  139.725595
9991  Female  62.109532  132.451630
9992  Female  62.593008  130.727432
9993  Female  62.100222  131.220717
9994  Female  63.421888  133.330246
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103
Gender
Male      5000
Female    5000
Name: count, dtype: int64
            Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

## ä¿®æ”¹æ•°æ®æ¡†

### åˆ›å»ºæ•°æ®æ¡†

é¦–å…ˆï¼Œè®©æˆ‘ä»¬ä½¿ç”¨å‰é¢å­¦åˆ°çš„å†…å®¹åˆ›å»ºä¸€ä¸ªæ•°æ®æ¡†ï¼š

In [ ]:
# å¯¼å…¥pandasåŒ…
import pandas as pd
# å¯¼å…¥numpyåŒ…
import numpy as np
# æ•°æ®
data = [
    {"Name": "å¼ ä¸‰", "Country":"ä¸­å›½", "City":"ä¸Šæµ·"},
    {"Name": "æå››", "Country":"ä¸­å›½", "City":"åŒ—äº¬"},
    {"Name": "ç‹äº”", "Country":"ä¸­å›½", "City":"å¹¿å·"}]
# åˆ›å»ºä¸€ä¸ªæ•°æ®æ¡†
df = pd.DataFrame(data)
print(df)

In [ ]:
    Name Country City
0   å¼ ä¸‰    ä¸­å›½   ä¸Šæµ·
1   æå››    ä¸­å›½   åŒ—äº¬
2   ç‹äº”    ä¸­å›½   å¹¿å·

### æ·»åŠ æ–°åˆ—

è®©æˆ‘ä»¬å‘DataFrameæ·»åŠ æƒé‡åˆ—ï¼š

In [ ]:
weights = [74, 78, 69]
df['Weight'] = weights
df

In [ ]:
    Name Country City  Weight
0   å¼ ä¸‰    ä¸­å›½   ä¸Šæµ·      74
1   æå››    ä¸­å›½   åŒ—äº¬      78
2   ç‹äº”    ä¸­å›½   å¹¿å·      69

è®©æˆ‘ä»¬æ·»åŠ ä¸€ä¸ªé«˜åº¦åˆ—ï¼š

In [ ]:
heights = [173, 175, 169]
df['Height'] = heights
df

In [ ]:
    Name Country City  Weight  Height
0   å¼ ä¸‰    ä¸­å›½   ä¸Šæµ·      74     173
1   æå››    ä¸­å›½   åŒ—äº¬      78     175
2   ç‹äº”    ä¸­å›½   å¹¿å·      69     169

### ä¿®æ”¹åˆ—å€¼

æˆ‘ä»¬å¯ä»¥é€šè¿‡ä¸‰ç§æ–¹å¼ä¿®æ”¹åˆ—ï¼š

1. ç›´æ¥åœ¨åˆ—åä¸­å†™å…¥æ–°æ•°æ®ï¼š

In [ ]:
df['Name'] = ['èµµå…­', 'é’±ä¸ƒ', 'å­™å…«']
df

In [ ]:
    Name Country City  Weight  Height
0   èµµå…­    ä¸­å›½   ä¸Šæµ·      74     173
1   é’±ä¸ƒ    ä¸­å›½   åŒ—äº¬      78     175
2   å­™å…«    ä¸­å›½   å¹¿å·      69     169

2. é€šè¿‡ç´¢å¼•è¿›è¡Œä¿®æ”¹ï¼š

In [ ]:
df.loc[1, 'Name'] = 'å°ä¸ƒ'
df

In [ ]:
    Name Country City  Weight  Height
0   èµµå…­    ä¸­å›½   ä¸Šæµ·      74     173
1   å°ä¸ƒ    ä¸­å›½   åŒ—äº¬      78     175
2   å­™å…«    ä¸­å›½   å¹¿å·      69     169

é€šè¿‡ilocç´¢å¼•ï¼š

In [ ]:
print('åŸå§‹æ•°æ®ï¼š\n', df)
df.iloc[1, 0] = 'é˜¿ä¸ƒ'
print('ä¿®æ”¹åçš„æ•°æ®ï¼š\n', df)

In [ ]:
åŸå§‹æ•°æ®ï¼š
     Name Country City  Weight  Height
0   èµµå…­    ä¸­å›½   ä¸Šæµ·      74     173
1   å°ä¸ƒ    ä¸­å›½   åŒ—äº¬      78     175
2   å­™å…«    ä¸­å›½   å¹¿å·      69     169
ä¿®æ”¹åçš„æ•°æ®ï¼š
     Name Country City  Weight  Height
0   èµµå…­    ä¸­å›½   ä¸Šæµ·      74     173
1   é˜¿ä¸ƒ    ä¸­å›½   åŒ—äº¬      78     175
2   å­™å…«    ä¸­å›½   å¹¿å·      69     169

### æ ¼å¼åŒ–æ•°æ®æ¡†åˆ—

è®©æˆ‘ä»¬ä½¿ç”¨æ ¼å¼è¿›è¡Œä¿®æ”¹ã€‚å¼ºå¤§å…¬å¼æ˜¯BMIï¼šä½“é‡ï¼ˆkgï¼‰/ èº«é«˜Â²ï¼ˆmï¼‰ã€‚è®©æˆ‘ä»¬æ·»åŠ ä¸€ä¸ªBMIåˆ—ï¼š

In [ ]:
# æ·»åŠ èº«é«˜ã€ä½“é‡å’ŒBMIåˆ—
df['BMI'] = np.round(df['Weight'] / ((df['Height'] * 0.01) ** 2), 2) # ä¿ç•™ä¸¤ä½å°æ•°

print(df)

In [ ]:
   Name Country City  Weight  Height   BMI
0  èµµå…­    ä¸­å›½   ä¸Šæµ·      74     173  24.73
1  é˜¿ä¸ƒ    ä¸­å›½   åŒ—äº¬      78     175  25.47
2  å­™å…«    ä¸­å›½   å¹¿å·      69     169  24.16

## æ£€æŸ¥åˆ—å€¼çš„æ•°æ®ç±»å‹

æˆ‘ä»¬å¯ä»¥ä½¿ç”¨dtypeså±æ€§æ£€æŸ¥DataFrameä¸­åˆ—çš„æ•°æ®ç±»å‹ï¼š

In [ ]:
print(df.dtypes)

In [ ]:
Name        object
Country     object
City        object
Weight       int64
Height       int64
BMI        float64
dtype: object

### å¸ƒå°”ç´¢å¼•

å¸ƒå°”ç´¢å¼•æˆ–å¸ƒå°”æ©ç å…è®¸æ‚¨ä½¿ç”¨æ¡ä»¶é€‰æ‹©DataFrameä¸­çš„ç‰¹å®šè¡Œï¼š

In [ ]:
# åˆ›å»ºä¸€ä¸ªæ•°æ®æ¡†
df = pd.DataFrame({
    'name': ['å¼ ä¸‰', 'æå››', 'ç‹äº”', 'èµµå…­'],
    'country': ['ä¸­å›½', 'ç¾å›½', 'è‹±å›½', 'è¥¿ç­ç‰™'],
    'age': [25, 15, 22, 28],
    'åœ¨èŒ': [True, False, True, False]
})

print(df)

In [ ]:
  name country  age    åœ¨èŒ
0  å¼ ä¸‰     ä¸­å›½   25   True
1  æå››     ç¾å›½   15  False
2  ç‹äº”     è‹±å›½   22   True
3  èµµå…­   è¥¿ç­ç‰™   28  False

è®©æˆ‘ä»¬ç­›é€‰å‡ºå¹´é¾„å¤§äº20å²ä¸”åœ¨èŒçš„äººå‘˜ï¼š

In [ ]:
print(df[(df['age'] > 20) & (df['åœ¨èŒ'] == True)])

In [ ]:
  name country  age   åœ¨èŒ
0  å¼ ä¸‰     ä¸­å›½   25  True
2  ç‹äº”     è‹±å›½   22  True

## ç»ƒä¹ ï¼šç¬¬25å¤©

1. é˜…è¯»[hacker_news.csv](../data/hacker_news.csv)æ–‡ä»¶å¹¶è·å–å‰äº”è¡Œ
2. è·å–æ ‡é¢˜åˆ—
3. è·å–è¡Œæ•°ã€åˆ—æ•°
4. è·å–å‰åè¡Œå’Œæœ€ååè¡Œ
5. è·å–ç¬¬äºŒè¡Œå’Œç¬¬å››è¡Œä»ç¬¬äºŒåˆ—åˆ°ç¬¬å››åˆ—çš„æ•°æ®
6. è·å–ä¸»é¢˜ä¸ºPythonçš„è¡Œ
7. è·å–Pythonä¸»é¢˜è¡Œçš„æ•°é‡
8. è·å–æŠ•ç¥¨æ•°è¶…è¿‡200çš„æ‰€æœ‰è¡Œ
9. æŒ‰æŠ•ç¥¨æ•°æ’åºæ•°æ®æ¡†
10. æŒ‰æŠ•ç¥¨æ•°è¿›è¡Œé™åºæ’åº
11. è¿‡æ»¤æ‰Pythonä¸»é¢˜å¹¶æŒ‰ç¥¨æ•°æ’åº

ğŸ‰ æ­å–œï¼ğŸ‰

[<< ç¬¬24å¤©](./24_Day_Statistics/24_statistics_cn.md) | [ç¬¬26å¤© >>](./26_Day_Python_web/26_python_web_cn.md)